{
  // static locations

  // so you see, there's nothing here because only YOU exist

  // okay well this is here but like it's forced off lol
  "spacestation_electronics" : {
    "warpAction" : "InstanceWorld:spacestation_electronics",
    "threatLevel" : 1,
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/spacestation/stationhorizonleft.png", "right": "/celestial/system/spacestation/stationhorizonright.png" } ]
    },

    "permanent" : true,

    "moving" : false,
    "speed" : 5.0,
    "orbitRange" : [10, 10],
    "lifeTime" : [0, 0],
    "parameters" : {
      "icon" : "/celestial/system/spacestation/spacestationicon.png",

      "displayName" : "Electronics Station",
      "description" : "This station takes advantage of microgravity to manufacture a variety of delicate electronic components.",

      "bookmarkIcon" : "spacestation"
    }
  },
  "pirateship" : {
    "warpAction" : "InstanceWorld:pirateship",
    "skyParameters" : {
      "seed" : 0,
      "horizonClouds" : false,
      "horizonImages" : [ { "left": "/celestial/system/ships/shiphorizonleft.png", "right": "/celestial/system/ships/shiphorizonright.png" } ]
    },

    "moving" : true,
    "speed" : 15.0,
    "orbitRange" : [1, 1],
    "lifeTime" : [1500, 2100],
    "parameters" : {
      "icon" : "/celestial/system/ships/npcship.png",
      "displayName" : "Hostile Ship",
      "description" : "Whoever's flying this ship, we shouldn't get close without being prepared for a fight."
    }
  },
}
